.hero {
  background-size: cover;
  position: relative;
}
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #0e0a0a, transparent);
  opacity: .6; 
}